<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>MAM</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <style>
            .placeholder:only-child { visibility: visible; display: flex }
            .placeholder { visibility: collapse; display: none }
        </style>
    </head>
    <body>   
        <div class="navbar navbar-inverse bg-inverse" role="navigation">
            <a class="navbar-brand" href="#">Contracting Company</a>
        </div>
        <div class="row m-1 p-1">
            <div id="" class="col-2">
                <a asp-controller="CareerType" asp-action="List" class="@GetClassForButton("CareerType")">Career Type</a>
                <a asp-controller="Career" asp-action="List" class="@GetClassForButton("Career")">Career</a>
                <a asp-controller="Employee" asp-action="List" class="@GetClassForButton("Employee")">Employee</a>
                <a asp-controller="SupplierCategory" asp-action="List" class="@GetClassForButton("SupplierCategory")">Supplier Category</a>
                <a asp-controller="Supplier" asp-action="List" class="@GetClassForButton("Supplier")">Supplier</a>
                <a asp-controller="ProductCategory" asp-action="List" class="@GetClassForButton("ProductCategory")">Product Category</a>
                <a asp-controller="Product" asp-action="List" class="@GetClassForButton("Product")">Product</a>    
                <a asp-controller="EquipmentType" asp-action="List" class="@GetClassForButton("EquipmentType")">Equipment Type</a>    
                <a asp-controller="DependencyEquipment" asp-action="List" class="@GetClassForButton("DependencyEquipment")">Dependency Equipment</a>    
                <a asp-controller="EquipmentDefaultMeasurementType" asp-action="List" class="@GetClassForButton("EquipmentDefaultMeasurementType")">Equipment Measure</a>    
                <a asp-controller="Equipment" asp-action="List" class="@GetClassForButton("Equipment")">Equipment</a>    
                <a asp-controller="EquipmentDefaultMeasurementType_Equipment" asp-action="List" class="@GetClassForButton("EquipmentDefaultMeasurementType_Equipment")">EDMTE</a>    
                <a asp-controller="OfficeRepository" asp-action="List" class="@GetClassForButton("OfficeRepository")">Office Repository</a>    

            </div>
            <div class="col-8">
                @RenderBody()
                <hr />
            </div>
        </div>
        <footer class="container">
            <p>&copy; 2018 - Muhammad Abosheetah</p>
        </footer>
    </body>
</html>
@functions {
    string GetClassForButton(string controller) {
        return "btn btn-block " + (ViewContext.RouteData.Values["controller"]
            as string == controller ? "btn-primary" : "btn-outline-primary");
        }
}